<a href="https://colab.research.google.com/github/shatakshisingh24/Soft-Computing-Lab-2020/blob/master/Program_2_SC_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aim: Write aprogram to implement all operators in python.

1.   List item
2.   List item

In [ ]:
a=8
b=10
print(a)
print(b)

8
10

Arithmatic Operators

In [ ]:
add = a+b
sub = b-a
mult = a*b
divfloat = b/a
divfloor = b//a
mod = b%a

print(" \n Results \n")
print(add)
print(sub)
print(mult)
print(divfloat)
print(divfloor)
print(mod)

 Results

18
2
80
1.25
1
2

Relational operators

In [ ]:
a=8
b=10
print(a)
print(b)

a>b
a<b
a==b
a!=b
a>=b
a<=b

8
10

True

Logical operators

In [ ]:
a=True
b=False
print(a)
print(b)
a and b
a or b
not a

True
False

False

Bitwise operators

In [ ]:
a=8
b=10
print(a)
print(b)
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

8
10
8
10
-9
2
2
32