TASK : Write a program to implement various data structures in python and their operations.

LIST

In [7]:
#Used to store data of different data types in a sequential manner.
list = [10,34,2,'Rishita']
print(list)

[10, 34, 2, 'Rishita']

In [8]:
list.append([3]) #To add single element
list.extend([27,"Rishita"]) #Add as different elements
list.insert(1,'Mathur') #Add element i
print(list)

[10, 'Mathur', 34, 2, 'Rishita', [3], 27, 'Rishita']

In [9]:
#Change Item Value
list[0]=10
print(list) #element at index 0 is now changed to 10.

[10, 'Mathur', 34, 2, 'Rishita', [3], 27, 'Rishita']

In [10]:
#Add Items
# To add an item to the end of the list, use the append() method
list.append(27)
#To add an item at the specified index, use the insert() method
list.insert(1,"January")
print(list)

[10, 'January', 'Mathur', 34, 2, 'Rishita', [3], 27, 'Rishita', 27]

In [11]:
del list[2] #Delete element at i index
list.pop(5) #Remove element from list
print(list)

[10, 'January', 34, 2, 'Rishita', 27, 'Rishita', 27]

In [12]:
for i in list:
    print(i)    #Accessing each element

10
January
34
2
Rishita
27
Rishita
27

TUPLE

In [14]:
tuple = (1, "a", "string", 1+2) 
print (tuple) 
#Accessing tuple items
print (tuple[1]) 
print(tuple[1:3])
print(tuple[::-1])#print in reverse order

(1, 'a', 'string', 3)
a
('a', 'string')
(3, 'string', 'a', 1)

In [15]:
#Code for concatenating two tuples
tuple1=(0,1,2,3)
tuple2=("a","b","c")
print(tuple1+tuple2)

(0, 1, 2, 3, 'a', 'b', 'c')

In [16]:
tuple = tuple+(1,2,3)  # Adding elements
print(tuple) 
#Other functions are same as lists

(1, 'a', 'string', 3, 1, 2, 3)

DICTIONARY

In [17]:
#Used to store key-value pairs
dict = {1:'HI',2:'HELLO'}
print(dict)

{1: 'HI', 2: 'HELLO'}

In [18]:

dict[2]='HELLO'#Changing element
dict[3]="WORLD"#Adding elements
print(dict)

{1: 'HI', 2: 'HELLO', 3: 'WORLD'}

In [19]:
dict.pop(2) #Pop element
print(dict)

{1: 'HI', 3: 'WORLD'}

In [20]:
dict.clear() #Empty dictionary
print(dict)

{}

SET

In [21]:
set1 = {"a", "b", "c"}
print(set1)

{'b', 'c', 'a'}

In [22]:
set2 ={3,4,5}
print(set.union(set1,set2)) #Combining elements of both the sets
print(set.intersection(set1,set2)) #Elements that present in both the sets
print(set.difference(set1-set2)) #Deletes the data present in both and outputs the data present only in the set passed

{3, 4, 5, 'b', 'c', 'a'}
set()
{'b', 'c', 'a'}

In [23]:
#Accessing Items
#You cannot access items in a set by referring to an index or a key but you can loop through the set items using a "for" loop, 
for x in set1:
  print(x)

b
c
a

In [24]:
#To check for the item
print("b" in set1)
print("f" in set1)

True
False

In [25]:
#Once a set is created, you cannot change its items but new items can be added.
#Add Items
set1.add("h")
print(set1)

#Add multiple items to a set, using the update() method:
set1.update(["x", "y", "z"])
print(set1)

{'b', 'h', 'c', 'a'}
{'h', 'c', 'b', 'z', 'x', 'a', 'y'}

In [26]:
#The clear() method empties the set:
set1.clear()
print(set1)

set()