**Operator Implementation in Python**

i. *Arithmetic* *Operators*

In [7]:
a = 12
b = 5
print("Addition: ", a+b)
print("Substraction: ", a-b)
print("Multiplication: ", a*b)
print("Division: ", a/b)
print("Modulo: ", a%b)
print("Power: ", a**b)
print("Floor Division: ", a//b)

Addition:  17
Substraction:  7
Multiplication:  60
Division:  2.4
Modulo:  2
Power:  248832
Floor Division:  2

*ii. Relational Operators*

In [10]:
a = 12
b = 5
print("a>b: ", a>b)
print("a<b: ", a<b)
print("a>=b: ", a>=b)
print("a<=b: ", a<=b)
print("a!=b: ", a!=b)
print("a==b: ", a==b)

a>b:  True
a<b:  False
a>=b:  True
a<=b:  False
a!=b:  True
a==b:  False

*ii. Logical Operators*

In [12]:
a= True
b= False
print("a and b : ", a and b)
print("a or b : ", a or b)

a and b :  False
a or b :  True

*iii. Bitwise Operators*

In [13]:
a = 12
b = 5
print("a&b : ", a&b)
print("a|b : ", a|b)
print("~a : ", ~a )
print("~b : ", ~b)
print("a^b : ", a^b)
print("a>>2 : ", a>>2)
print("a<<2 : ", a<<2)

a&b :  4
a|b :  13
~a :  -13
~b :  -6
a^b :  9
a>>2 :  3
a<<2 :  48

*iv. Assignment Operators*

In [14]:
a = 12
b = 5

c  = a+b
print(" = ", c)

c += 2
print("+= : ", c)

c -=2
print("-= : ", c)

c *= 2
print("*= : ", c)

c /= 2
print("/= : ", c)

c //=2
print("//= : ", c)

c %=2
print("%= : ", c)

c = 118
c &= 2
print("&= : ", c)

c |=2
print("|= : ", c)

c ^= 2
print("^= : ", c)

c >>= 2
print(">>= : ", c)

c <<= 2
print("<<= : ", c)

 =  17
+= :  19
-= :  17
*= :  34
/= :  17.0
//= :  8.0
%= :  0.0
&= :  2
|= :  2
^= :  0
>>= :  0
<<= :  0

v. Identity Operators

In [16]:
a = "Rishita"
b = "Rishita"
print("a is b : ", a is b)
print("a is not b : ", a is not b)
x = [1,2,3]
y = [1,2,3]
print("c is d : ", x is y)
print("c is not d : ", x is not y)

a is b :  True
a is not b :  False
c is d :  False
c is not d :  True

*vi. Membership Operators*

In [17]:
a = [12,4,45,54,99,2,39]
print("12 in a : ", 23 in a)
print("13 not in a : ", 13 not in a)

12 in a :  False
13 not in a :  True